<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARS INFORMATION</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
  <div class="jumbotron">
    <h1 >Mission To Mars</h1>
	<button type="button" class="btn btn-primary">Scrape New Data</button>
    <div>
  </div>	
	  <ul style="list-style: none;">
		<li>{{ dict.news_title }}</li>
		<li>{{ dict.news_paragraph }}</li>
		<li>{{ dict.featured_image_url }}</li>
		<li>{{ dict.mars_weather }}</li>
		<li>{{ dict.facts_table }}</li>
		<li>{{ dict.hemisphere_list }}</li>
		
	  </ul>
    </div>
  </div>
</body>

</html>